<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700178322429-k230b69odvuu4j57qsnmcji5b7k2ot8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700178322429-k230b69odvuu4j57qsnmcji5b7k2ot8h</string>
	<key>API_KEY</key>
	<string>AIzaSyB5agPnSqau0Xxo_49hdsjZkr37sqLPJ68</string>
	<key>GCM_SENDER_ID</key>
	<string>700178322429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.gob.iiap.species</string>
	<key>PROJECT_ID</key>
	<string>species-iiap</string>
	<key>STORAGE_BUCKET</key>
	<string>species-iiap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700178322429:ios:46fc7b7ba74f242f9d3f94</string>
</dict>
</plist>